*{
    margin:0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    width: 1200px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
header{
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}
h1 a{
    text-decoration: none; 
    color: black;
    font-weight: 600;
    transition: all 1s ease-in-out;
    position: relative;

    &::before {
        content: attr(data-item);
        transition: all 1s ease-in-out;
        color: #6c42e1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0;
        overflow: hidden;
      }
    
      &:hover {
        &::before {
          width: 100%;
        }
      }
}
.header-style{
    padding-top:30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
}
nav{
    display: inline-flex;
    background-color: black;
    height: 30px;   
    position: relative; 
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
}

nav a{
    color: whitesmoke;
    text-decoration-line: none;
    text-align: center;
    align-self: center;
    z-index: 1;
    text-transform: uppercase;
    cursor: pointer;
    flex:1;
}
nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
  }
  a:nth-child(1) {
    width: 400px;
  }
  a:nth-child(2) {
    width: 210px;
  }
  a:nth-child(3) {
    width: 200px;
  }
  nav .start-home, a:nth-child(1):hover~.animation {
    width: 400px;
    left: 0;
    background-color: #1abc9c;
  }
  nav .start-services, a:nth-child(2):hover~.animation {
    width: 400x;
    left: 400px;
    background-color: #e74c3c;
  }
  nav .start-blog, a:nth-child(3):hover~.animation {
    width: 400px;
    left: 800px;
    background-color: #3498db;
  }
  section{
    float: left;
    width: 700px;
  }
  aside{
    float:right; width: 500px; margin-top: 30px;
  }
  @media (max-width: 600px) {
    body{
        width: auto;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    nav{
        display:flex; 
        flex-direction: column;       
        width: 100%;
        max-width: 100%;
        z-index: 10;
        height: auto;
        position: relative;
    }
    nav a {
      font-size: 12px;
    }

    a:nth-child(1) {
      width: auto;
    }

    a:nth-child(2) {
      width: auto;
    }

    a:nth-child(3) {
      width: auto;
    }

    nav .start-home, a:nth-child(1):hover~.animation {
      width: auto;
      left: 0;
    }

    nav .start-services, a:nth-child(2):hover~.animation {
        width: auto;
        left: 100%;
    }

    nav .start-blog, a:nth-child(3):hover~.animation {
        width: auto;
        left: 200%;
    }
    section{
        width: auto;
        margin:auto;
    }
    aside{
        width: auto; 
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .aside-sub-container{
        margin-right: auto;
        float: left;
    }
    ul{
        margin-left:auto;
        margin-top: 10px;
    }
    .personal-info-container{
        margin-top: 30px;
        margin-bottom: 30px;
        padding:10px;
        max-height: 300px;
        overflow: auto;
        background-color: coral;
        width: auto;
    }
  }
ul{
    margin-left:15px;margin-top: 10px;
}
.aside-sub-container{
    float: right; margin-right: 50px;
}

.personal-info-container{
    margin-top: 30px;
    margin-bottom: 30px;
    padding:10px;
    max-height: 300px;
    overflow: auto;
    background-color: coral;
    max-width: 700px;
}

.personal-info{
 margin-top: 20px;
}

.img01{
 position: relative;
 background-color: coral;
}

.footer{
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    margin-top: 30px;
    padding:10px;
    clear: both;
}